<div id="Wraper" class="BoxBdr ShadowBox">
      <div id="Header">
          <span class="FloatLeft"><img src="/assets/logo.jpg" width="195" height="33" alt="" /></span>
            <span class="Txt">- Online Retailer</span>
      </div>
        <div id="MainContent">
          <div class="CommonBlock">
            <h2>Add New Product</h2> 
             
                <div class="PopUpNewProduct">


<%= render 'form' %>

                </div>
                
                
          </div>
        </div>
        <div class="Clear"></div>
</div>
<div id="Footer" class="Textcenter">Copyright 2008-2012 Contoso.com - Online Retailer. All Rights Reserved.</div>


